<h1><%= @events.name %></h1>
<ul>
    <li>
        Nazwa: <%= @events.name %>
    </li>
    <li>
        Data rozpoczęcia: <%= @events.start_time %>
    </li>
    <li>
        Data zakończenia: <%= @events.end_time %>
    </li>
    <li>
        Numer wybiegu: <%= @events.enclosure_id %>
    </li>
    <li>
        Opis: <%= @events.description %>
    </li>
</ul>
<td><%= link_to "Powrót", admin_events_url, class: "btn btn-info"%></td>