<%= form_with model: [:admin ,enclosures] do |form| %>
    <div>
        <%= form.label :nazwa %><br>
        <%= form.text_field :name %>
        <% enclosures.errors.full_messages_for(:name).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
    
    <div>
        <%= form.label :lokalizacja %><br>
        <%= form.text_field :localization %>
        <% enclosures.errors.full_messages_for(:species).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.collection_check_boxes :employee_ids, Employee.all, :id, :email %>
    </div>

    <div>
        <%= form.submit %>
    </div>
    
    <td><a href="/admin/enclosures/" type="a" class="btn btn-info">Powrót</a></td>
<% end %>