<h1><%= @animals.name %></h1>
<ul>
    <li>
        Nazwa: <%= @animals.name %>
    </li>
    <li>
        Gatunek: <%= @animals.species %>
    </li>
    <li>
        Wiek: <%= @animals.age %>
    </li>
    <li>
        Wybieg: <%= Enclosure.find(@animals.enclosure_id).name.to_s+"/"+@animals.enclosure_id.to_s %>
    </li>
</ul>
<p><%= @animals.description %></p>


<h2>Notatki o zwierzęciu <%= @animals.name %> <h2>

<div class="row">
  <% @notes.each do |note| %>
    <div class="col-sm-6">
        <div class="card">
        <div class="card-body">
            <h5 class="card-title"><%= note.date %></h5>
            <p class="card-text"><%= note.content %></p>
            <a href="#" class="btn btn-danger">Usun notke</a>
        </div>
        </div>
    </div>
  <% end %>
<%= link_to "Dodaj notke", new_admin_animal_note_path(@animals), class: "btn btn-success"%>

<%= link_to "Powrót", admin_animals_url, class: "btn btn-info"%>