<h1><%= @animals.name %></h1>
<ul>
    <li>
        Nazwa: <%= @animals.name %>
    </li>
    <li>
        Gatunek: <%= @animals.species %>
    </li>
    <li>
        Wiek: <%= @animals.age %>
    </li>
    <li>
        Wybieg: <%= Enclosure.find(@animals.enclosure_id).name.to_s+"/"+@animals.enclosure_id.to_s %>
    </li>
</ul>
<p><%= @animals.description %></p>


<h2>Notatki o zwierzęciu <%= @animals.name %> <h2>
<ul>
    <% @notes.each do |note| %>
        <li>
            <%= note.content %>
        </li>
    <% end %>
</ul>   


<td><%= link_to "Powrót", admin_animals_url, class: "btn btn-info"%></td>