<div class="info-block-container">
    <div class="info-block">
        <h1><%= @animals.all.count %></h1>
        <h3>Zwierząt w naszym zoo</h3>
    </div>
    <div class="info-block">
        <h1><%= @enclosures.all.count %></h1>
        <h3>Wybiegów dla zwierząt</h3>
    </div>
    <div class="info-block">
        <h1><%= @employees.all.count %></h1>
        <h3>Pracowników zajmujących się zwierzętami</h3>
    </div>
    <div class="info-block">
        <h1><%= @reservations.all.count %></h1>
        <h3>Rezerwacji złożonych w ostatnim miesiącu</h3>
    </div>
    <div class="info-block">
        <h1><%= @events.where(["start_time < ? and end_time > ?",Date.today.to_s,Date.today.to_s]).count %>
        <h3>Aktywnych wydarzeń</h3>
    </div>
    <div class="info-block">
        <h1><%= @events.where("start_time > ?",Date.today.to_s).count %>
        <h3>Przyszłych wydarzeń</h3>
    </div>

</div>

<div class="charts-container">
    <div id="incoming_chart">
        <%= pie_chart getEventHash(1), title: "Rezerwacje na nadchodzące wydarzenia" %>
    </div>
    <div id="this_month_chart">
        <%= pie_chart getEventHash(2), title: "Rezerwacje na wydarzenia w tym miesiącu" %>
    </div>
</div>
