<%= form_with model: [:admin, animals] do |form| %>
    <div>
        <%= form.label :nazwa %><br>
        <%= form.text_field :name %>
        <% animals.errors.full_messages_for(:name).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
    
    <div>
        <%= form.label :gatunek %><br>
        <%= form.text_field :species %>
        <% animals.errors.full_messages_for(:species).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.label :wiek %><br>
        <%= form.text_field :age %>
        <% animals.errors.full_messages_for(:age).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.label :wybieg %><br>
        <%= form.select :enclosure_id, Enclosure.all.collect { |e| [e.name, e.id] }, include_blank: false %>
        <% animals.errors.full_messages_for(:enclosure_id).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.label :opis %><br>
        <%= form.text_area :description %>
        <% animals.errors.full_messages_for(:description).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.submit %>
    </div>
<% end %>