<h1>Nasze zwierzątka</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nazwa</th>
      <th scope="col">Gatunek</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @animals.each do |animal| %>
      <tr>
        <th scope="row"><%=animal.id%></th>
        <td><%=animal.name%></td>
        <td><%=animal.species%></td>
        <td><%= link_to "Usuń", animal, method: :delete %></td>
        <td><a href="<%= edit_animal_path(animal) %>" type="a" class="btn btn-warning">Edytuj</a></td>
        <td><a href="<%= animal_path(animal) %>" type="a" class="btn btn-info">Szczegóły</a></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to "+", new_animal_path, class: "btn btn-success"%>