<h1><%= @animals.name %></h1>
<ul>
    <li>
        Nazwa: <%= @animals.name %>
    </li>
    <li>
        Gatunek: <%= @animals.species %>
    </li>
    <li>
        Wiek: <%= @animals.age %>
    </li>
</ul>
<p><%= @animals.description %></p>
<td><a href="/animals/" type="a" class="btn btn-info">Powrót</a></td>