<h1><%= @animals.name %></h1>
<ul>
    <li>
        Nazwa: <%= @animals.name %>
    </li>
    <li>
        Gatunek: <%= @animals.species %>
    </li>
    <li>
        Wiek: <%= @animals.age %>
    </li>
    <li>
        Wybieg: <%= Enclosure.find(@animals.enclosure_id).name %>
    </li>
</ul>
<p><%= @animals.description %></p>

<td><%= link_to "Powrót", admin_animals_url, class: "btn btn-info"%></td>