<%= form_with model: reservations do |form| %>
    <div>
        <%= form.label :imie %><br>
        <%= form.text_field :first_name %>
        <% reservations.errors.full_messages_for(:first_name).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>
    
    <div>
        <%= form.label :nazwisko %><br>
        <%= form.text_field :last_name %>
        <% reservations.errors.full_messages_for(:last_name).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.label :telefon %><br>
        <%= form.telephone_field :phone %>
        <% reservations.errors.full_messages_for(:phone).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.label :email %><br>
        <%= form.email_field :email %>
        <% reservations.errors.full_messages_for(:email).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.label :nr_wydarzenia %><br>
        <%= form.select :event_id, @events_ids %>
        <% reservations.errors.full_messages_for(:description).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.submit %>
    </div>
<% end %>