<%= form_with model: reservations do |form| %>
    <div>
        <%= form.label :imie %><br>
        <%= form.text_field :first_name %>
    </div>
    
    <div>
        <%= form.label :nazwisko %><br>
        <%= form.text_field :last_name %>
    </div>

    <div>
        <%= form.label :telefon %><br>
        <%= form.telephone_field :phone %>
    </div>

    <div>
        <%= form.label :email %><br>
        <%= form.email_field :email %>
    </div>

    <div>
        <%= form.label :nr_wydarzenia %><br>
        <% if params[:event_id].presence %>
            <%= form.select :event_id, Event.all.collect {|e| [e.name,e.id]}, selected: params[:event_id], include_blank: false %>
        <% else %>
            <%= form.select :event_id, Event.all.collect {|e| [e.name,e.id]}, include_blank: false %>
        <% end %>
    </div>
        <ul>
            <% reservations.errors.full_messages.each do |message| %>
                <li> <%= message %> </li>
            <% end %>
        </ul>
    <div>
        <%= form.submit %>
    </div>
<% end %>