<%= month_calendar events: @events do |date,events| %>
  <div class="dayContainer">
  <div class="dayNumber">
    <%= date.day %>
  </div>
  <% events.each do |event| %>
      <div class="eventDropdown">
        <div class="eventHover">
          <div class="eventName">
            <%= event.name %>
          </div>
          <% if event.is_incoming %>
            <%= link_to "Zarezerwuj", new_reservation_path(:event_id => event.id) %>
          <% else %>
            <div class="eventNotif">Wydarzenie zakończone</div>
          <% end %>
        </div>
        <div class="eventDescription">
          <div>
            <b><%= event.description %></b>
          </div>
          <div>
            Początek wydarzenia:</br> <%= event.start_time.strftime("%d-%m-%Y %H:%M") %>
          </div>
          <div>
            Koniec wydarzenia:</br> <%= event.end_time.strftime("%d-%m-%Y %H:%M") %>
          </div>
        </div>
      </div>
  <% end %>
  </div>
<%end%>