    <div id="mainContainer">
        <div id="headerContainer">
            <div id="navBar">
                <div class="navDummyStart"></div>
                <div class="logo">
                </div>
                <div class="menu">
                    <a href="#headerContainer">
                        <div>
                            <p>Strona Główna</p>
                        </div>
                    </a>
                    <a href="#animalsInfo">
                        <div>
                            <p>Nasze zwierzęta</p>
                        </div>
                    </a>
                    <a href="#eventContainer">
                        <div>
                            <p>Wydarzenia</p>
                        </div>
                    </a>
                    <a href="#reservationContainer">
                        <div>
                            <p>Rezerwacje</p>
                        </div>
                    </a>
                    <a href="#contactContainer">
                        <div>
                            <p>Kontakt</p>
                        </div>
                    </a>
                    <%= link_to 'Admin', admin_dashboard_index_url %>
                </div>
            </div>
            <div class="mainBlock">
                <h1>ZOO Pazurek</h1>
                <h2>Zapoznaj się z naturą</h2>
            </div>
        </div>
        <div id="animalsInfo" class="marquee">
            <span class="marquee__inner">Żyje u nas <%= Animal.count %> zwierząt na <%= Enclosure.count %> równie atrakcyjnych wybiegach. Zatrudniamy <%= Employee.count %> rzetelnych pracowników.</span>
        </div>
        <div id="bodyContainer">
            <div id="animalsContainer">
                <div class="leftPhoto">
                    <%= image_tag "enclosure.jpg"%>
                </div>
                <div class="rightText">
                    <h1 class="animalTitle">
                        O nas i naszych zwierzetach
                    </h1>
                    <h3 class="animalText">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mollis nisi dignissim posuere pulvinar. Nullam ultrices ipsum eget ligula tincidunt, eget vulputate metus rutrum. Praesent vitae eros auctor, vulputate mi et, facilisis felis. Nulla ut risus
                        purus. Pellentesque cursus leo lorem. Fusce sed tempor nibh. Sed ac tempus massa. Aliquam fringilla in purus in gravida. Curabitur et ultricies purus. Morbi nisl ipsum, pulvinar a viverra id, convallis in nisi. Mauris tellus metus,
                        suscipit sed neque vel, facilisis egestas justo. Proin fermentum consequat pulvinar. Phasellus eget egestas dui, aliquet lobortis velit. Duis vitae tortor dictum, mattis metus in, efficitur nulla. Pellentesque convallis ullamcorper
                        mi convallis fermentum. Quisque quis arcu felis.
                        <h3>
                </div>
            </div>
            <div class="breakLine"></div>
            <div class="animalPhotos">
                <div class="animalImage"><%= image_tag "monky.png"%></div>
                <div class="animalImage"><%= image_tag "fox.png"%></div>
                <div class="animalImage"><%= image_tag "bear.png"%></div>
                <div class="animalImage"><%= image_tag "bird.png"%></div>
            </div>
            <div class="breakLine"></div>
            <div id="eventContainer">
                <h2>Nasze Wydarzenia</h2>
                <div id="events_calendar">
                    <%= render partial: "calendar", locals: {events: @events} %>
                </div>
            </div>
            <div id="reservationContainer">
                <div class="leftContainer">
                    <div class="ticketContainer">
                        <div class="ticketTitle">
                            Bilet ulgowy
                        </div>
                        <div class="ticketPrice">
                            10 zł
                        </div>
                    </div>
                    <div class="ticketContainer">
                        <div class="ticketTitle">
                            Bilet normalny
                        </div>
                        <div class="ticketPrice">
                            15 zł
                        </div>
                    </div>
                    <div class="ticketContainer">
                        <div class="ticketTitle">
                            Bilet dla seniorów<br>(Powyżej 60 roku życia)
                        </div>
                        <div class="ticketPrice">
                            8 zł
                        </div>
                    </div>
                </div>

                <div class="rightContainer">
                    <div class="reservationText">
                        <h2>Rezerwacja blietów</h2>
                        <div>Na co czekasz? Zobacz pokazy naszych uzdolnionych zwierząt!</div>
                        <div class="reservationButton">
                            <%= link_to 'Zarezerwuj bilet', new_reservation_path %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="breakLine"></div>
            <div id="contactContainer">
                <div class="contactLeft">
                    <div class="contactBox">
                        <div class="contactInformation">
                            <h2>Bezpośredni kontakt do nas</h2>
                            <div class="informationBox">
                                <p class="contactText">Phone</p>
                                <p class="contactHours">+48 278 495 202</p>
                            </div>
                            <div class="informationBox">
                                <p class="contactText">Mail</p>
                                <p class="contactHours">ZooPazurek@gmail.com</p>
                            </div class="informationBox">
                            <div class="contactDays">
                                <h3>Godziny pracy</h3>
                                <div>
                                    <p class="contactText">Poniedziałek - piątek</p>
                                    <p class="contactHours">8:00 - 20:00
                                </div>
                                <div>
                                    <p class="contactText">Sobota</p>
                                    <p class="contactHours">8:00 - 16:00
                                </div>
                                <div>
                                    <p class="contactText">Niedziela</p>
                                    <p class="contactHours">8:00 - 14:00
                                </div>
                            </div>
                        </div>
                        <div class="informationForm">
                            <h2>Masz pytanie? Zadaj je!</h2>
                            <form>
                                <label>Imie i nazwisko</label>
                                <input type="text">
                                <label>Email kontaktowy</label>
                                <input type="email">
                                <label>Wiadomośc</label>
                                <input type="text">
                                <div class="formButton">
                                    <button type="submit">
                                        Wyślij wiadomość
                                    </button>
                                </div>
                            </form>
                            <div class="logos">
                                <a href="facebook.com">
                                    <div class="logoImage">
                                        <%= image_tag "facebook.png"%>
                                    </div>
                                </a>
                                <a href="twitter.com">
                                    <div class="logoImage">
                                        <%= image_tag "twitter.png"%>
                                    </div>
                                </a>
                                <a href="instagram.com">
                                    <div class="logoImage">
                                        <%= image_tag "instagram.png"%>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contactRight ">
                    <script>
                        let map;
                        function initMap() {
                        map = new google.maps.Map(document.getElementById("map"), {
                            center: { lat: -34.397, lng: 150.644 },
                            zoom: 8,
                        });
                        }

                        window.initMap = initMap;
                    </script>
                    <div id="map">
                    </div>
                </div>
            </div>
        </div>
    </div>
