<!DOCTYPE html>
<html>
  <head>
    <title>Admin site</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'admin', media: 'all', "data-turbo-track": "reload" %>
  </head>

  <body>
    <div id="menu-container">
        <div id="top-bar">
            <div class="user-box">
                <div class="user-img"></div>
                <div class="user-text">
                    Witaj użytkowniku<br>
                    xPeaker
                </div>
                <div class="user-dummy"></div>
            </div>
            <div class="info-box">
                <div class=info-text>
                    Strona administracyjna Pazurek
                </div>
                <div class=info-logo>
                    <%= image_tag "monki.png"%>
                </div>
            </div>
        </div>
        <div id="main-content">
            <div id="admin-nav-bar">
                <div class="nav-bar-elem">
                    <div class="nav-icon">
                    </div>
                    <div class="nav-text">
                        Strona główna
                    </div>
                </div>
                <div class="nav-bar-elem">
                    <div class="nav-icon">
                    </div>
                    <div class="nav-text">
                        Zwierzęta
                    </div>
                </div>
                <div class="nav-bar-elem">
                    <div class="nav-icon">
                    </div>
                    <div class="nav-text">
                        Wybiegi
                    </div>
                </div>
                <div class="nav-bar-elem">
                    <div class="nav-icon">
                    </div>
                    <div class="nav-text">
                        Pracownicy
                    </div>
                </div>
                <div class="nav-bar-elem">
                    <div class="nav-icon">
                    </div>
                    <div class="nav-text">
                        Wydarzenia
                    </div>
                </div>
                <div class="nav-bar-elem">
                    <div class="nav-icon">
                    </div>
                    <div class="nav-text">
                        Rezerwacje
                    </div>
                </div>
            </div>
            <div>
                <%= yield %>
            </div>
        <div>
    </div>
  </body>   
</html>