<!DOCTYPE html>
<html>
  <head>
    <title>Admin site</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'admin', media: 'all', "data-turbo-track": "reload" %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if employee_signed_in? %>
    <%= link_to 'Sign out', destroy_employee_session_path, method: :delete %>
    <div id="menu-container">
        <div id="top-bar">
            <div class="user-box">
                <div class="usr-img"></div>
                <div class="usr-text">
                    Witaj użytkowniku
                </div>
            </div>
            <div class="info-box">
            </div>
        </div>
        <div id="main-content">
            <div id=hor-nav-bar>
            </div>
            <div>
                
            </div>
        <div>
    </div>
    <% else %>
      <%= link_to 'Log in', sign_in_employee_session_path %>
    <% end %>
    <%= yield %>
  </body>   
</html>