<!DOCTYPE html>
<html>
  <head>
    <title>Admin site</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'admin', media: 'all', "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'admin', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="login-information">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <% if employee_signed_in? %>
    <div id="menu-container">
        <div id="top-bar">
            <div class="user-box">
                <div class="user-img"></div>
                <div class="login-box">
                    <div class="user-text">
                        Witaj użytkowniku<br>
                        <%= current_employee.first_name %>
                    </div>
                    <%= link_to 'Sign out', destroy_employee_session_path, method: :delete %>
                </div>
                <div class="user-dummy"></div>
            </div>
            <div class="info-box">
                <div class=info-text>
                    Strona administracyjna Pazurek
                </div>
                <div class=info-logo>
                    <%= image_tag "monki.png"%>
                </div>
            </div>
        </div>
        <div id="main-content">
            <div id="admin-nav-bar">
                <div class="nav-bar-elem">
                    <div class="nav-icon">  
                    </div>
                    <div class="nav-text">
                        <%= link_to 'Strona główna', admin_dashboard_index_url %> 
                    </div>
                </div>
                <div class="nav-bar-elem">
                    <div class="nav-icon">
                    </div>
                    <div class="nav-text">
                        <%= link_to 'Zwierzęta', admin_animals_url %>
                    </div>
                </div>
                <div class="nav-bar-elem">
                    <div class="nav-icon">
                    </div>
                    <div class="nav-text">
                        <%= link_to 'Wybiegi', admin_enclosures_url %>
                    </div>
                </div>
                <div class="nav-bar-elem">
                    <div class="nav-icon">
                    </div>
                    <div class="nav-text">
                        <%= link_to 'Wydarzenia', admin_events_url %>
                    </div>
                </div>
                <div class="nav-bar-elem">
                    <div class="nav-icon">
                    </div>
                    <div class="nav-text">
                        <%= link_to 'Rezerwacje', admin_reservations_url %>
                    </div>
                </div>
            </div>
                
            <div id="yield-content">
                <%= yield %>
            </div>
    </div>
    <% else %>
      <%= link_to 'Log in', sign_in_employee_session_path %>
    <% end %>
  </body>   
</html>