<!DOCTYPE html>
<html>
  <head>
    <title>Monkey</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', "data-turbo-track": "reload" %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?language=pl&key=AIzaSyCmBpSx7TioT-t1FFjK58urFMuclbX0quA",'http://code.jquery.com/jquery-3.2.1.slim.min.js' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="login-information">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
    <%= yield %>
  </body>
</html>
